.bmr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blue;
    color: white;
    margin-bottom: 25px;
}
.bmr-callcu{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 17px;
    border: 1px solid gray;
    padding: 20px;
    width: 500px;
    margin: auto;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 30px;
}
.four{
    gap: 20px;
}
.input{
    width: 110px;
    /* height: 30px; */
    border-radius: 5px;
    padding: 7px; 
    border: 1px solid lightgray;
    text-align: center;
}
.span{
    width: 80px ;
    /* height: 30px; */
    border-radius: 5px;
    padding: 18px; 
    border: 1px solid lightgray;
    text-align: center;
    background-color: lightgray;
    font-size: small;

}

.p{
    font-size: small;
    color: gray;
}
.tenth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 80px;
}
.five{
    margin-bottom: 17px;
    text-align: center;
}
.clear{
    border: 1px solid lightblue;
    padding: 8px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.callculate{
    border: 1px solid blue;
    padding: 8px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    border-radius: 20px;
    color: blue;
    width: 150px;
    cursor: pointer;
}